<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/about.css">
    <title>TakeAlittle-About</title>
</head>
<body>
  <header>
    <div class="company-logo"><img src="https://i.postimg.cc/sf8X4ZSg/Screenshot-2023-12-04-140751.png" height="120" width="120" alt="logo"></div>
    <nav class="navbar">
      <ul class="nav-items">
        <li class="nav-item"><a href="/index.html" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="/HTML/about.html" class="nav-link">ABOUT</a></li>
        <li class="nav-item"><a href="/HTML/product.html" class="nav-link">PRODUCT</a></li>
        <li class="nav-item"><a href="/HTML/checkout.html" class="nav-link">CHECKOUT</a></li>
        <li class="nav-item"><a href="/HTML/contact.html" class="nav-link">CONTACT</a></li>
        <li class="nav-item"><a href="/HTML/admin.html" class="nav-link">ADMIN</a></li>
      </ul>
    </nav>
    <div class="menu-toggle">
      <i class="bx bx-menu"></i>
      <i class="bx bx-x"></i>
    </div>
</header>

    <div class="we-are-block">
        <div id="about-us-section">      
          <div class="about-us-image">      
            <img src="https://i.postimg.cc/sf8X4ZSg/Screenshot-2023-12-04-140751.png" width="769" height="458" alt="Lobby Image">      
          </div>  

          <div class="about-us-info">      
            <h2>The Impossible dream made possible</h2>   
            <p>
                TakeAlittle is not just a store, it's an embodiment of a dream, a vision to redefine the shopping experience. Rooted in the belief that even the smallest moments deserve attention and care, TakeAlittle aspires to become the epitome of excellence in the retail world. Our company is driven by a passion for curating a collection that speaks to the soul, a collection that transforms ordinary moments into extraordinary memories.
            </p>     
            <a href="#" title="About Us Button">ABOUT US</a>     
          </div>      
        </div>  

        <div id="history-section">     
          <div class="history-image">      
            <img src="https://digitalupgrade.com/images/building_pic.jpg" width="951" height="471" alt="Building Pic">      
          </div>
      
          <div class="history-info">      
            <h2>Preserving Our History</h2>      
            <p>
                In the heart of a bustling city, TakeAlittle was born from a simple yet profound idea , the belief that in the hurried pace of modern life, people often overlook the beauty in the smallest moments. Founded in 2010 by visionary entrepreneurs, Zenitsu Agatsuma, Tanjiro Kamado and Inosuke Hashibiria, TakeAlittle started as a small online commercial enterprise with a big dream to become the best there is. 
            </p>      
            <a href="#team" title="History Button">Our Team</a>    
          </div>     
        </div>     
      </div>
      <div class="company">
        <div class="img">
          <img src="https://i.postimg.cc/sf8X4ZSg/Screenshot-2023-12-04-140751.png" alt="TAlogo"/>
        </div>
        <div class="company-info">
          <span>What Is <span class="our">TakeAlittle</span></span>
          <p>
            <b class="TA">TakeAlittle</b> is a thriving online store that caters to the modern consumer's diverse needs with a monumental selection of products that promise both quality and convenience. We aim to simplify the shopping experience, allowing users to discover and purchase a wide range of items, from trendy fashion pieces to cutting-edge electronics. 
          </p>
          <p>
            Our company prioritizes transparency and reliability in its transactions, ensuring that every purchase is a trustworthy and satisfying experience. TakeAlittle is not just a marketplace, it's a digital destination where customers can explore, shop, and discover a little bit of everything they desire.
          </p>
        </div>
      </div>
      <br>
      <br>

      <!-- ---------------------------------------------------------------------------------------------------------------------- -->
      <!-- ----------------------------------------------------team-------------------------------------------------------------- -->

      <div class="team"><span>OUR Founders</span></div>
      <div class="container">
        <div class="card">
          <div class="card-image loading"><img src="https://i.postimg.cc/05mQPByR/Tanjiro-kamado-1.webp" alt="" /></div>
          <div class="card-info">
            <h3 class="card-title loading"><span> Tanjiro <span class="green-surname"> Kamado </span></span></h3>
            <p class="card-description loading">
              <span class="personal-info">
                <span class="info">Digital Marketing Manager</span> <br><br>
                Email: <a href="'">TanjiroKamado@gmail.com</a>
              </span>
            </p>
            <div class="card-mediaIcons">
              <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="{% url 'viewprofile' 7 %}" class="loading" target="on_blank"></a>
                <a href="https://www.instagram.com/harshsunwani/" class="loading" target="on_blank"><i
                  class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-image loading"><img src="https://i.postimg.cc/gc7gZpQ5/2726bdc90eaa948458a0cbb97c1f56a6.jpg" alt="" /></div>
              <div class="card-info">
                <h3 class="card-title loading"><span> Zenitsu <span class="orange-surname"> Agatsuma </span></span></h3>
                <p class="card-description loading">
                  <span class="personal-info">
                    <span class="info">CEO & Manager/Director:</span> <br><br>
                    Email: <a href="mailto:'yashfalke77@gmail.com'">OgRizzler69@gmail.com</a>
                  </span>
                </p>
                <div class="card-mediaIcons">
                  <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                  <a href="{% url 'viewprofile' 9 %}" class="loading" target="on_blank"></a>
                  <a href="https://www.instagram.com/yashfalke77/" class="loading" target="on_blank"><i
                      class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
        <div class="card">
          <div class="card-image loading"><img src="https://i.postimg.cc/LsGcDPbd/2mh-UQt-N4w5e-R6ek-KOl2-Gs5-G3-Tp-Deb-RAtc-KPf3-PCX.webp
            " alt="" /></div>
          <div class="card-info">
            <h3 class="card-title loading"><span> Inosuke <span class="blue-surname"> Hashibiria </span></span></h3>
            <p class="card-description loading">
              <span class="personal-info">
                <span class="info">Customer Service Representative </span> <br><br>
                Email: <a href="mailto:'nikjaiswal21@gmail.com'">InosukeHash@gmail.com</a>
              </span>
            </p>
            <div class="card-mediaIcons">
              <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><a>
              <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- ----------------------------------------footer------------------------------------------ -->
      
      <footer>
        <div class="content">
          <div class="top">
            <div class="logo-details">
              <span class="logo_name">TakeAlittle</span>
            </div>
          </div>
          <div class="link-boxes">
            <ul class="box">
              <li class="link_name">Links</li>
              <li><a href="/index.html">Home</a></li>
              <li><a href="/HTML/product.html">Product</a></li>
              <li><a href="/HTML/checkout.html">Checkout</a></li>
              <li><a href="/HTML/contact.html">Contact</a></li>
              <li><a href="/HTML/admin.html">Admin</a></li>
    
            </ul>
            <ul class="box">
              <li class="link_name">Project Platforms</li>
              <li><a href="{}">HTML</a></li>
              <li><a href="{}">CSS</a></li>
              <li><a href="{}">JAVASCRIPT</a></li>
              <li><a href="{}">BOOTSTRAP</a></li>
    
            </ul>
            <ul class="box">
              <li class="link_name">Legal Info</li>
              <li><a href="{}">Licence</a></li>
              <li><a href="{}">Terms and Conditions</a></li>
              <li><a href="{}">Privacy Policies</a></li>
    
            </ul>
            <ul class="box">
              <li class="link_name">Contact</li>
              <li><a target="on_blank" href="tel:+919079680135">+27 011 011 0011</a></li>
              <li><a target="on_blank" href="mailto:'connectpicoindia@gmail.com'">TakeAlittle@gmail.com</a></li>
            </ul>
          </div>
        </div>
    
        <div class="bottom-details">
          <div class="bottom_text">
            <span class="copyright_text"> &copy; Copyright 2023 <a href="#">TakeAlittle</a></span>
          </div>
        </div>
      </footer>
    <script src="/javascript/about.js"></script>
</body>
</html>