<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/about.css">
    <title>TakeAlittle-About</title>
</head>
<body>
  <header>
    <div class="company-logo"><img src="https://i.postimg.cc/sf8X4ZSg/Screenshot-2023-12-04-140751.png" height="120" width="120" alt="logo"></div>
    <nav class="navbar">
      <ul class="nav-items">
        <li class="nav-item"><a href="/index.html" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="/HTML/about.html" class="nav-link">ABOUT</a></li>
        <li class="nav-item"><a href="/HTML/product.html" class="nav-link">PRODUCT</a></li>
        <li class="nav-item"><a href="/HTML/checkout.html" class="nav-link">CHECKOUT</a></li>
        <li class="nav-item"><a href="/HTML/contact.html" class="nav-link">CONTACT</a></li>
        <li class="nav-item"><a href="/HTML/admin.html" class="nav-link">ADMIN</a></li>
      </ul>
    </nav>
    <div class="menu-toggle">
      <i class="bx bx-menu"></i>
      <i class="bx bx-x"></i>
    </div>
</header>
    <div class="we-are-block">
        <div id="about-us-section">      
          <div class="about-us-image">      
            <img src="https://i.postimg.cc/sf8X4ZSg/Screenshot-2023-12-04-140751.png" width="769" height="458" alt="Lobby Image">      
          </div>  

          <div class="about-us-info">      
            <h2>The Impossible dream made possible</h2>   
            <p>
                TakeAlittle is not just a store, it's an embodiment of a dream, a vision to redefine the shopping experience. Rooted in the belief that even the smallest moments deserve attention and care, TakeAlittle aspires to become the epitome of excellence in the retail world. Our company is driven by a passion for curating a collection that speaks to the soul, a collection that transforms ordinary moments into extraordinary memories.
            </p>     
            <a href="#" title="About Us Button">ABOUT US</a>     
          </div>      
        </div>  

        <div id="history-section">     
          <div class="history-image">      
            <img src="https://digitalupgrade.com/images/building_pic.jpg" width="951" height="471" alt="Building Pic">      
          </div>
      
          <div class="history-info">      
            <h2>Preserving Our History</h2>      
            <p>
                In the heart of a bustling city, TakeAlittle was born from a simple yet profound idea , the belief that in the hurried pace of modern life, people often overlook the beauty in the smallest moments. Founded in 2010 by visionary entrepreneurs, Zenitsu Cole, Tanjiro Stark and Inosuke Evans, TakeAlittle started as a small online commercial enterprise with a big dream to become the best there is. 
            </p>      
            <a href="#" title="History Button">Our Team</a>    
          </div>     
        </div>     
      </div>
      <div class="company">
        <div class="img">
          <img src="https://i.postimg.cc/sf8X4ZSg/Screenshot-2023-12-04-140751.png" alt="TAlogo"/>
        </div>
        <div class="company-info">
          <span>What Is <span class="our">TakeAlittle</span></span>
          <p>
            <b>TakeAlittle</b> is a India-based website dedicated for sharing stock photography under the Pico license. Pico allows
            photographers to upload photos to its website, which are then curated by a team of photo editors. In Pico we are
            aspiring to be one of the largest photography suppliers on the internet.
          </p>
        </div>
      </div>
      <!-- ---------------------------------------------------------------------------------------------------------------------- -->
      <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
      <div class="team"><span>OUR TEAM</span></div>
      <div class="container">
        <div class="card">
          <div class="card-image loading"><img src="https://i.postimg.cc/bwSYVSnH/image.png" alt="" /></div>
          <div class="card-info">
            <h3 class="card-title loading"><span> Muhammad <span class="yellow-surname"> Rajah </span></span></h3>
            <p class="card-description loading">
              <span class="personal-info">
                <span class="info">Graphic Designing Head</span> <br>
                Pursuing IT Engineering (VIT Mumbai) <br>
                Email: <a href="mailto:'yashfalke77@gmail.com'">OgRizzler69@gmail.com</a>
              </span>
            </p>
            <div class="card-mediaIcons">
              <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="{% url 'viewprofile' 9 %}" class="loading" target="on_blank"><i><img
                    src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
              <a href="https://www.instagram.com/yashfalke77/" class="loading" target="on_blank"><i
                  class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-image loading"><img src="https://media.istockphoto.com/photos/portrait-of-handsome-latino-african-man-picture-id1007763808?k=20&m=1007763808&s=612x612&w=0&h=q4qlV-99EK1VHePL1-Xon4gpdpK7kz3631XK4Hgr1ls=" alt="" /></div>
          <div class="card-info">
            <h3 class="card-title loading"><span> Tanjiro <span class="yellow-surname"> Stark </span></span></h3>
            <p class="card-description loading">
              <span class="personal-info">
                <span class="info">Web Developing Head</span> <br>
                Pursuing IT Engineering (VIT Mumbai) <br>
                Email: <a href="mailto:'harshsunwani11@gmail.com'">harshsunwani11@gmail.com</a>
              </span>
            </p>
            <div class="card-mediaIcons">
              <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="{% url 'viewprofile' 7 %}" class="loading" target="on_blank"><i><img
                    src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></i></a>
              <a href="https://www.instagram.com/harshsunwani/" class="loading" target="on_blank"><i
                  class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-image loading"><img src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" /></div>
          <div class="card-info">
            <h3 class="card-title loading"><span> Inosuke <span class="yellow-surname"> Evans </span></span></h3>
            <p class="card-description loading">
              <span class="personal-info">
                <span class="info">Marketing and Publicity Head</span> <br>
                Pursuing IT Engineering (VIT Mumbai) <br>
                Email: <a href="mailto:'nikjaiswal21@gmail.com'">nikjaiswal21@gmail.com</a>
              </span>
            </p>
            <div class="card-mediaIcons">
              <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><i><img
                    src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
              <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- ----------------------------------------footer------------------------------------------ -->
      
      <footer>
        <div class="content">
          <div class="top">
            <div class="logo-details">
              <span class="logo_name">TakeAlittle</span>
            </div>
          </div>
          <div class="link-boxes">
            <ul class="box">
              <li class="link_name">Links</li>
              <li><a href="/index.html">Home</a></li>
              <li><a href="/HTML/about.html">About</a></li>
              <li><a href="/HTML/product.html">Product</a></li>
              <li><a href="/HTML/checkout.html">Checkout</a></li>
              <li><a href="/HTML/contact.html">Contact</a></li>
              <li><a href="/HTML/admin.html">Admin</a></li>
    
            </ul>
            <ul class="box">
              <li class="link_name">Recommended</li>
              <li><a href="{% url 'category' 6 %}">India</a></li>
              <li><a href="{% url 'category' 5 %}">Art and Culture</a></li>
              <li><a href="{% url 'category' 11 %}">People</a></li>
              <li><a href="{% url 'category' 2 %}">Travel</a></li>
    
            </ul>
            <ul class="box">
              <li class="link_name">Legal Info</li>
              <li><a href="{% url 'licence' %}">Licence</a></li>
              <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
              <li><a href="{% url 'privacy' %}">Privacy Policies</a></li>
    
            </ul>
            <ul class="box">
              <li class="link_name">Contact</li>
              <li><a target="on_blank" href="tel:+919079680135">+91 9079680135</a></li>
              <li><a target="on_blank" href="mailto:'connectpicoindia@gmail.com'">contactpicoindia@gmail.com</a></li>
            </ul>
          </div>
        </div>
    
        <div class="bottom-details">
          <div class="bottom_text">
            <span class="copyright_text"> &copy; Copyright 2023 <a href="#">TakeAlittle</a></span>
          </div>
        </div>
      </footer>
    <script src="/javascript/about.js"></script>
</body>
</html>