<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/contact.css">
    <title>TakeAlittle-Contact</title>
</head>
<body>
    <header>
        <div class="company-logo"><img src="https://i.postimg.cc/sf8X4ZSg/Screenshot-2023-12-04-140751.png" height="120" width="120" alt="logo"></div>
        <nav class="navbar">
          <ul class="nav-items">
            <li class="nav-item"><a href="/index.html" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="/HTML/about.html" class="nav-link">ABOUT</a></li>
            <li class="nav-item"><a href="/HTML/product.html" class="nav-link">PRODUCT</a></li>
            <li class="nav-item"><a href="/HTML/checkout.html" class="nav-link">CHECKOUT</a></li>
            <li class="nav-item"><a href="/HTML/contact.html" class="nav-link">CONTACT</a></li>
            <li class="nav-item"><a href="/HTML/admin.html" class="nav-link">ADMIN</a></li>
          </ul>
        </nav>
        <div class="menu-toggle">
          <i class="bx bx-menu"></i>
          <i class="bx bx-x"></i>
        </div>
    </header>

    <div>
        <div class="container">
            <div class="contact-parent">
                <div class="contact-child child1">
                    <p>
                        <i class="fas fa-map-marker-alt"></i> Address <br />
                        <span> 123 Something Road, Camps Bay
                            <br />
                            Cape Town, SA
                        </span>
                    </p>

                    <p>
                        <i class="fas fa-phone-alt"></i> Let's Talk <br />
                        <span> 0787878787</span>
                    </p>

                    <p>
                        <i class=" far fa-envelope"></i> General Support <br />
                        <span>TakeAlittle.Customersupport@gmail.com</span>
                    </p>
                </div>

                <div class="contact-child child2">
                    <div class="inside-contact">
                        <h2>Contact Us</h2>
                        <h3>
                           <span id="confirm">
                        </h3>

                        <p>Name *</p>
                        <input id="txt_name" type="text" Required="required">

                        <p>Email *</p>
                        <input id="txt_email" type="text" Required="required">

                        <p>Phone *</p>
                        <input id="txt_phone" type="text" Required="required">

                        <p>Message *</p>
                        <textarea id="txt_message" rows="4" cols="20" Required="required" ></textarea>
                        
                        <input type="submit" id="btn_send" value="SEND">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="content">
          <div class="top">
            <div class="logo-details">
              <span class="logo_name">TakeAlittle</span>
            </div>
          </div>
          <div class="link-boxes">
            <ul class="box">
              <li class="link_name">Links</li>
              <li><a href="/index.html">Home</a></li>
              <li><a href="/HTML/about.html">About</a></li>
              <li><a href="/HTML/product.html">Product</a></li>
              <li><a href="/HTML/checkout.html">Checkout</a></li>
              <li><a href="/HTML/admin.html">Admin</a></li>
    
            </ul>
            <ul class="box">
              <li class="link_name">Recommended</li>
              <li><a href="{% url 'category' 6 %}">India</a></li>
              <li><a href="{% url 'category' 5 %}">Art and Culture</a></li>
              <li><a href="{% url 'category' 11 %}">People</a></li>
              <li><a href="{% url 'category' 2 %}">Travel</a></li>
    
            </ul>
            <ul class="box">
              <li class="link_name">Legal Info</li>
              <li><a href="{% url 'licence' %}">Licence</a></li>
              <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
              <li><a href="{% url 'privacy' %}">Privacy Policies</a></li>
    
            </ul>
            <ul class="box">
              <li class="link_name">Contact</li>
              <li><a target="on_blank" href="tel:+919079680135">+91 9079680135</a></li>
              <li><a target="on_blank" href="mailto:'connectpicoindia@gmail.com'">contactpicoindia@gmail.com</a></li>
            </ul>
          </div>
        </div>
    
        <div class="bottom-details">
          <div class="bottom_text">
            <span class="copyright_text"> &copy; Copyright 2023 <a href="#">TakeAlittle</a></span>
          </div>
        </div>
      </footer>
    
    <script src="/javascript/contact.js"></script>
</body>
</html>